* {
  margin: 0;
  padding: 0;
}

.text-green{
  color: green;
}

.heading {
  text-align: center;
  margin-top: 25px;
}


.table-wrapper {
  width: 80%;
  margin: 50px 10%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.table-wrapper table{
  background-color: greenyellow;
}
.table-wrapper table button{
  background-color: red;
  padding: 10px 25px; 
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.table-wrapper table tr th {
  padding: 10px 100px;
}
.table-wrapper table tr td {
  padding: 10px 100px;
}